<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>gestioneitorv4_0</display-name>
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  
<!-- CONFIGURACION DE RESTEASY -->
 <!-- Es necesario incluir esta variable de contexto para que 
 Resteasy reconozca el mapeo /rs/ correspondiente a servicios REST.
 Además de incluir el propio <mapping> y el servelt Resteasy -->
 <context-param>
 <param-name>resteasy.servlet.mapping.prefix</param-name>
 <param-value>/rs</param-value>
 </context-param>
 
 <!-- Servlet resteasy que se encarga de procesar las peticiones correspondientes a servicios REST. Lleva un parámetro de 
inicialización donde deben estar registradas todas las clases que implementan servicios REST en esta aplicación web -->
 <servlet>
 <servlet-name>resteasy</servlet-name>
 <servlet-class>
 org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
 </servlet-class>
 <init-param>
 <param-name>javax.ws.rs.Application</param-name>
 <param-value>com.tew.business.resteasy.Application</param-value>
 </init-param>
 <load-on-startup>1</load-on-startup> 
 </servlet>
 <!-- Regla de mapeo para todas las peticiones REST -->
 <servlet-mapping>
 <servlet-name>resteasy</servlet-name>
 <url-pattern>/rs/*</url-pattern>
 </servlet-mapping>
 
 <!--Generación de la librería Javascript para acceso a servicios Web REsteasy-->
<!-- Servlet que atenderá las consultas de clientes Javascript
 Tiene que ser cargado después del servlet restasy.
 -->
 <servlet>
 <servlet-name>resteasy-jsapi</servlet-name>
 <servlet-class>org.jboss.resteasy.jsapi.JSAPIServlet</servlet-class>
 <load-on-startup>2</load-on-startup>
 </servlet>
<!-- Regla de mapeo para la libreria Javascript -->
<servlet-mapping> 
 <servlet-name>resteasy-jsapi</servlet-name>
 <url-pattern>/rest-jsapi</url-pattern>
 </servlet-mapping>
 
 
 
</web-app>